{% extends "base.html.twig" %}
{% block content %}
<div class="jumbotron">
    <h1>HOOOOOME</h1>
</div>
<div class="page-header">
    <h2>{{ prenom }}</h2>
</div>
<ul class="list-group">
    {% for onePage in pageList %}
    <li class="list-group-item">
        {{ onePage.getTitle }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
